---
const GraphicProjects = [
  {
    image: "https://picsum.photos/400/250?7",
    name: "د. شعاع دردوم",
    link: "/",
  },
  {
    image: "https://picsum.photos/400/250?5",
    name: "إيان اللواي",
    link: "/",
  },
];
import Button from "./Button.astro";
import H2 from "./H2.astro";
---

<section class="py-12 px-5 space-y-6" aria-label="مشاريع التصميم">
  <H2 text="مشاريع تصاميم الجرافيك" />
  {
    GraphicProjects.map((GraphicProject) => (
      <article>
        <a
          href={GraphicProject.link}
          class="relative block overflow-hidden rounded-lg bg-bg-400 hover:shadow-md hover:scale-[1.01] transition-all"
          aria-label={`تفاصيل ${GraphicProject.name}`}
        >
          <img
            src={GraphicProject.image}
            alt={GraphicProject.name}
            width="400"
            height="250"
            loading="lazy"
            class="w-full h-auto object-cover"
          />
          <span class="absolute bottom-4 right-4 bg-bg-400 text-text text-sm px-4 py-1 rounded-md">
            {GraphicProject.name}
          </span>
        </a>
      </article>
    ))
  }
  <div class="pt-4 text-center inline-block">
    <Button link="portfolio" text="عرض جميع المشاريع" />
  </div>
</section>
