---
import { getCollection, getEntryBySlug, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SEO from "@/components/astro/SEO.astro";
import { SiteConfig } from "@/data/config";
const AppName = SiteConfig.AppName;

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
  }));
}

const { slug } = Astro.params;
const entry = await getEntryBySlug("blog", slug);

if (!entry) {
  throw new Error("404");
}

const { Content } = await render(entry);
const { data } = entry;
---

<Layout>
  <SEO
    title={data.title}
    description="عذرًا، الصفحة التي تبحث عنها غير موجودة. يمكنك العودة إلى الصفحة الرئيسية أو استكشاف المزيد من المعلومات"
    url={`${AppName}/blog/${slug}`}
    image="/assets/og-image.png"
  />
  <article>
    <h1>{data.title}</h1>
    <img src={data.image} alt={data.title} />
    <p>{new Date(data.pubDate).toDateString()}</p>

    <p>{data.description}</p>
    <Content />

    {data.tags?.map((tag: string) => <li>{tag}</li>)}
  </article>
</Layout>
